/* Style de base pour l'alerte */
.alert {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
}

/* Style pour l'alerte en mode sombre */
.dark-mode .alert {
  background-color: #553c3e;
  color: #f9f9f9;
  border-color: #993c3e;
}
