/* Style de base pour l'application */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style pour le mode sombre */
.dark-mode {
  background-color: #333;
  color: #f9f9f9;
  border-color: #555;
}

/* Conteneur pour le header */
.header-container {
  display: flex;
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
  gap: 10px; /* Space between h1 and toggle button */
}

/* Style pour le titre */
h1 {
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin: 0;
}

/* Style pour le titre en mode sombre */
.dark-mode h1 {
  color: #f9f9f9;
}

/* Conteneur pour les boutons */
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Style pour les runners */
.runners {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px dashed #007bff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

/* Mode sombre pour les runners */
.dark-mode .runners {
  border-color: #999;
}

/* Style pour l'historique */
.history {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Mode sombre pour l'historique */
.dark-mode .history {
  border-color: #555;
}

/* Style pour le chronomètre */
.timer {
  font-size: 1.5em;
  margin-top: 20px;
  color: #007bff;
}

/* Mode sombre pour le chronomètre */
.dark-mode .timer {
  color: #f9f9f9;
}

/* Media Queries pour ajuster le style en fonction de la taille de l'écran */
@media (max-width: 768px) {
  .App {
    max-width: 90%;
    padding: 10px;
  }

  .button-container {
    flex-direction: column;
  }

  .runners {
    flex-direction: column;
  }

  .history {
    max-width: 100%;
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .button-container {
    flex-direction: column;
  }

  .runners {
    flex-direction: column;
  }

  .history {
    max-width: 100%;
    margin: 20px auto;
  }
}

/* Styles d'explosion */
@keyframes explode {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(var(--dx), var(--dy));
    opacity: 0;
  }
}

.explode {
  animation: explode 1s ease-out forwards;
}
